<!DOCTYPE html>
<html>
<head>
    <title>Mi indice de páginas</title>
</head>
<body>
    <h1>Índice de ejemplos sin orden</h1>
    <ul>
        <li><a href="hola_mundo.html">Hola Mundo</a></li>
        <li><a href="ejemplo_headers.html">Headers</a></li>
        <li><a href="ejemplo_enlaces.html">Enlaces</a></li>
    </ul>
    <h1>Índice de ejemplos ordenados</h1>
    <ol>
        <li><a href="hola_mundo.html">Hola Mundo</a></li>
        <li><a href="ejemplo_headers.html">Headers</a></li>
        <li><a href="ejemplo_enlaces.html">Enlaces</a></li>
    </ol>
    <h1>Descarga de archivos</h1>
    <h2><a href="archivo.txt" download>Descargar archivo</a></h2>
    <h1>Imagenes</h1>
    <img src="escudo_unal.jpg" alt="Escudo Unal" height="300" width="500">
</body>
</html>
